@import "tailwindcss";

/* Color + font variables */
:root {
  --accent-teal: #00a3a9;
  --accent-purple: #7f5af0;
}

/* Fonts */
body {
  background: #121212;
  color: #e0e0e0;
  font-family: "Rubik", sans-serif;
}

h1,
.font-mono {
  font-family: "Fira Code", monospace;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #121212;
    color: #e0e0e0;
  }
}
